body {
    background-image: url(bgfate.jpg);
    background-position: bottom;
    background-color: rgb(105, 79, 134);
    color: rgb(1, 4, 29);
}
#header {
    position: fixed;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color:rgb(105, 79, 134);
    padding: 1em;
    border: 2px;
    border: 5px solid black;
    opacity: 80%;
}
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-link {
    border: 5px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    color: white;
}
.nav-link:hover {
    background-color: thistle;
}
#header-img {
    display: block;
    height: 152px;
    width: 798px;
    align-self: center;
}
@media screen and (max-width: 900px) {
    #header {
        display: flex;
        flex-direction: column;
    }
}
#main {
    padding-top: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#email {
    width: 200px;
    padding: 1px;
    margin: 1px;
}
#submit {
    width: 80px;
    padding: 1px;
    margin: 1px;
}
.logo {
    display: flex;
    height: 80px;
    width: 80px;
}
#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    
}
#br {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 2px white;
    background-image: radial-gradient(white, skyblue);
    opacity: 80%;
    height: 1fr;
    width: 1fr;
    margin: 2em;
    padding: 2em;
    border: 5px solid black;
}
#cq {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px white;
    background-image: radial-gradient(black, rgb(102, 52, 102));
    opacity: 80%;
    height: 1fr;
    width: 1fr;
    margin: 2em;
    padding: 2em;
    border: 5px solid black;
}
#rev {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px white;
    background-image: linear-gradient(rgb(102, 52, 102), skyblue);
    opacity: 80%;
    height: 1fr;
    width: 1fr;
    margin: 2em;
    padding: 2em;
    border: 5px solid black;
}
#formdiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.445);
    margin: 10px auto auto auto;
    opacity: 80%;
    border-radius: 5px;
    border: 2px solid black;
    border-color: black;
    padding: 5px;
    height: 50%;
    color: black;
}
#ytvid {
    display: flex;
    justify-content: center;
}
#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 1000px;
    height: auto;
    margin: 10px auto 10px auto;
    padding: 10px;
    align-content: center;
    background-color:rgba(255, 255, 255, 0.445);
    padding: 10px;
    border: 5px solid black;
}
.button {
    width: 100px;
    height: 50px;
    background-color: rgb(167, 119, 47);
}
#pricing p {
    font-size: 20px;
    font-weight: 600;
}