body {
    background-image: url("bgfate.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}
#header {
    position: fixed;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(white, skyblue, rgb(102, 52, 102), black);
    padding: 1em;
    border: 2px;
    border-color: black;
    opacity: 80%;
}
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-link {
    border: 5px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    color: white;
}
.nav-link:hover {
    background-color: thistle;
}
#header-img {
    display: block;
    height: 152px;
    width: 798px;
    align-self: center;
}
@media screen and (max-width: 900px) {
    #header {
        display: flex;
        flex-direction: column;
    }
}
#main {
    padding-top: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#email {
    width: 200px;
    padding: 1px;
    margin: 1px;
}
#submit {
    width: 80px;
    padding: 1px;
    margin: 1px;
}
.logo {
    display: flex;
    height: 80px;
    width: 80px;
}
#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#br {
    display: flex;
    flex-direction: column;
    border: 2px white;
    background-image: radial-gradient(white, skyblue);
    opacity: 80%;
    height: 1fr;
    width: 1fr;
    margin: 2em;
    padding: 2em;
}
#cq {
    display: flex;
    flex-direction: column;
    border: 2px white;
    background-image: radial-gradient(black, rgb(102, 52, 102));
    opacity: 80%;
    height: 1fr;
    width: 1fr;
    margin: 2em;
    padding: 2em;
}
#rev {
    display: flex;
    flex-direction: column;
    border: 2px white;
    background-image: linear-gradient(rgb(102, 52, 102), skyblue);
    opacity: 80%;
    height: 1fr;
    width: 1fr;
    margin: 2em;
    padding: 2em;
}
#formdiv {
    display: flex;
    justify-content: center;
}
#ytvid {
    display: flex;
    justify-content: center;
}
#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    justify-self: center;
    align-content: center;
}