#header {
    position: fixed;
    display: inline-flex;
    width: 100%;
    background-image: linear-gradient(to right(aqua, purple));
    background-color: gray;
    padding: 1em;
}
#header-img {
    display: block;
    height: 152px;
    width: 798px;
    align-self: center;
}
@media screen and (max-width: 900px) {
    #header {
        display: flex;
        flex-direction: column;
    }
}